@media screen and (min-width: 1024px) and (max-width: 1200px) {
    #contenido{
        min-height: 600px;
        max-height: 810px;
        height: 100%;
    }
    
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    #contenido{
        min-height: 664px;
        max-height: 800px;
        height: 100%;
    }
    
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
    #contenido{
        min-height: 1200px;
        height: 100%;
    }
    
}

/*Tablas*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
    #contenido{
        min-height: 1050px;
        height: 100%;
    }
    
}

/*Movil*/
@media screen and (max-width: 600px) {
    #contenido{
        min-height: 800px;
        height: 100%;
    }
    
}

