.contenedor-negro-mensaje{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
}
.contenedor-mesanje{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;


    width: 300px;
    height: fit-content;
    padding: 18px;

    background: rgb(255, 255, 255);
    border-radius: 8px;
    border: 6px solid #00a9d4 ;
}

.icono-premio{
    margin-top: 10px;
    width: 180px;
    height: 180px;
}

.mensaje{
    margin: 0%;
    margin-top: 10px;

    text-align: center;
    font-weight: bold;
    font-family: 'Rasa';
    font-size: 30px;
    color: brown;
}

.btn-cerrar-mensaje{
    margin-top: 8px;
    padding: 4px 15px;

    background: #00a9d4;
    border: 3px solid #00a9d4;
    border-radius: 10px;

    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Rasa';
    font-size: 20px;
}

.btn-cerrar-mensaje:hover{
    background: #0080a0;
    border: 3px solid #0080a0
}

@media screen and (max-width: 768px) {
    .contenedor-negro-mensaje{
        height: 100%;
        max-width: 850px;
    }
}